/* ## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%) */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Kumbh Sans'; 
}

body {
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    border: 1px solid hsl(240, 5%, 91%);
    width: 95%
}

#container {
    background-color: white;
    width: 900px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#graphic {
    background-image: url(illustration-woman-online-desktop.svg), url(bg-pattern-desktop.svg);
    background-position: right center, right ;
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    overflow: visible
}

.box { 
  background: url(illustration-box-desktop.svg) no-repeat;
  width: 50%;
  height: 450px;
  position: absolute;
  z-index: 3;
  transform: translate(-130px, 180px);
}

#info {
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
  padding-left: 15px;
    padding-bottom: 10px;
    color: hsl(237, 12%, 33%)
}

.accordion {
    color: #444;
    cursor: pointer;

    padding-left: 15px;
    padding-right: 15px;

    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    color: hsl(237, 12%, 33%)
  }

.accordion:hover {
    color: hsl(14, 88%, 65%);
    font-weight: 400
  }
  
  .active, .accordion:hover {
    background-color: white;
    font-weight: 700;
  }
  
  .panel {
    padding: 10px 18px;
    display: none;
    background-color: white;

    color: hsl(240, 6%, 50%)
  }

  svg {
    float: right;
    padding: 5px

  }

  .active svg {
    transform: scaleY(-1);
  }

  @media only screen and (max-width: 1000px) {

    h1 {
    margin: 10px auto;
    padding: 0
    }

    #container {
      background-color: white;
      width: 350px;
      height: 500px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
  }

  #graphic {
background-image: none;
width: 350px;
height: 80px;
position: relative;
}

.pattern {
  background-image: url(bg-pattern-mobile.svg);
  background-position: center ;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.illustration {
  background-image: url(illustration-woman-online-mobile.svg);
  background-position: center ;
  background-repeat: no-repeat;
  width: 250px;
  height: 350px;
  transform: translate(20%, -55%);
}

.box { 
  display: none;
}

#info {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80%
 
}

.accordion {
   font-size: 14px;
}

  }